@import "./base/variables.scss";
@import "./layout/header.scss"; 
@import "./pages/home.scss"; 
@import "./layout/footer.scss";
@import "./pages/lineup.scss"; 
@import "./pages/carteLineUp.scss";
@import "./pages/tickets.scss"; 
@import "./pages/camping.scss"; 
@import "./pages/acces.scss"; 


*{
    margin : 0; 
    padding : 0; 
    box-sizing: border-box;
    &::selection{
        background-color: $btnOrange;
        color : white; 
    }
}


html, body{
    height:100%;
}

.wrapper{
    width:1200px; 
    margin: 0 auto;
}

body{
    background-color: $bgColor;
    font-family: 'Inter';  
    overflow-x: hidden;
    min-height:100vh; 
}

//--------------------- HOME ---------------------




