@import "./base/variables.scss";
@import "./layout/header.scss"; 
@import "./pages/home.scss"; 

*{
    margin : 0; 
    padding : 0; 
}

html, body{
    height:100%;
}

.wrapper{
    width:1200px; 
    margin: 0 auto;
}

body{
    background-color: $bgColor;
    font-family: 'Inter';  
}

//--------------------- HOME ---------------------

.menu-dates{
    display:hidden; 
}


