@import "../base/variables.scss";


header {
  display: flex;
  position: relative;
  width:100%;
  
  nav {
    position: absolute;
    height: 115px;
    background-color: black;
    display: flex;
    width: 100%;
    z-index: 100;
    padding: 10px;
    align-items: center;
    // box-sizing: content-box;
    
    .menu-burger{
      display:none;

      .bar{
        display:block; 
        width:25px; 
        height:3px; 
        margin: 5px auto; 
        background-color: white;
      }
      
    }
    
    .menu-dates{
      display: flex;
      font-weight: 600;
      font-size: 21px;
      color: white;
      text-transform: uppercase;
      flex-wrap: nowrap;
      
      img {
        width: 15px;
        height: 25px;
        transform: rotate(90deg);
        margin: 0 10px;
      }
      
    }
    
    .logo {
      cursor: pointer;
      margin-left: 70px;
      width: 15%;
      flex-shrink: 0;
      
      img {
        height: 90px;
        width: 138px;
        transform: rotate(-9deg);
        padding: 5px;
      }
    }
    
    ul {
      display: flex;
      margin-left: auto;
      justify-content: flex-end;
      
      li{
        margin: 0 25px;
        list-style-type: none; 
        
        a {
          text-transform: uppercase;
          text-decoration: none;
          color:white; 
          font-size: 22px;
          font-weight: bold;
          
          &:hover{
            color: $btnOrange;
            transition: 0.4s ease;
          }
          
        }
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  header {
    width:100%;
    nav {
      
      justify-content: space-between;
      
      ul {
        li{
          margin: 0 10px;
        }
      }
      
    }
  }
}

@media screen and (max-width: 1045px) {
  header {
    width:100%; 
    nav {
      
      justify-content: space-between;

      .menu-classique{
        position:fixed; 
        left:-100; 
        top:135px;
        gap:0; 
        flex-direction: column;
        background-color: black;
        width:100%; 
        text-align:center; 
        transition: 0.3s;

        li{
          a{
            margin:16px 0; 
          }
        }

        .active{
          left:0; 
        }
      }
      
      ul {
        display:none;
      }
      
      .menu-dates{
        justify-content: center;
      }
      
      .menu-burger{
        display:block; 
        position: relative;
        top:0; 
        margin-right: 70px;
        font-size: 2em;
        cursor:pointer; 
      }
    }
  }
}


@media screen and (max-width: 630px) {
  header {
    width:100%;
    nav {
      height: 160px; 
      .menu-dates{
        position: absolute;
        bottom:0;
        left: -30%;
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        flex-wrap: wrap;
        margin-left:70px;
        
        img{
          width:15px; 
          height: 15px; 
          margin-top: 2px; 
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    width:100%; 
    nav {
      
      .logo{
        margin-left:5%; 
      }

      .infos{
        margin-top: 10%;
      }
      
      .menu-burger{
        margin-right:5%; 
      }
      
    }
  }
}
