@import "../base/variables.scss";


header {
  display: flex;
  position: relative;
  min-width:100%;
  
  nav {
    position: absolute;
    height: 115px;
    background-color: black;
    display: flex;
    width: 100%;
    z-index: 100;
    padding: 10px;
    align-items: center;
    // box-sizing: content-box;
    
    .menu-burger{
      display:none;
      
      .bar{
        display:block; 
        width:25px; 
        height:3px; 
        margin: 5px auto; 
        background-color: white;
      }
      
    }
    
    .menu-dates{
      display: flex;
      font-weight: 600;
      font-size: 21px;
      color: white;
      text-transform: uppercase;
      flex-wrap: nowrap;
      
      img {
        width: 15px;
        height: 25px;
        transform: rotate(90deg);
        margin: 0 10px;
      }
      
    }
    
    .logo {
      cursor: pointer;
      margin-left: 70px;
      width: 15%;
      flex-shrink: 0;
      
      img {
        height: 90px;
        width: 138px;
        transform: rotate(-9deg);
        padding: 5px;
      }
    }
    
    ul {
      display: flex;
      margin-left: auto;
      justify-content: flex-end;
    
      li {
        margin: 0 25px;
        list-style-type: none;
    
        a {
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          font-size: 22px;
          font-weight: bold;
          display: inline-block;
          position: relative;
    
          &::after {
            content: '';
            display: block;
            width: 0px;
            height: 2px;
            background: $btnOrange;
            transition: width 0.4s;
            position: absolute;
            left: 0;
            bottom: -2px;
          }
    
          &:hover {
            color: $btnOrange;
            transition: color 0.4s ease;
    
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  header {
    // min-width:100%;
    nav {
      
      // justify-content: space-between;
      
      ul {
        li{
          margin: 0 15px;
          flex-wrap: nowrap;
        }
      }
      
    }
  }
}

@media screen and (max-width: 1120px) {
  header {
    min-width:100%; 
    nav {
      
      justify-content: space-between;
      
      .logo{
        margin-left: 5%; 
      }
      
      .menu-classique{
        position:fixed; 
        left:-100; 
        top:135px;
        gap:0; 
        flex-direction: column;
        background-color: black;
        width:100%; 
        text-align:center; 
        transition: 0.3s;
        
        li{
          a{
            margin:16px 0; 
          }
        }
        
        .active{
          left:0; 
        }
      }
      
      ul {
        display:none;
      }
      
      .menu-dates{
        margin-left: 30px; 
      }
      
      .menu-burger{
        display:block; 
        position: relative;
        top:0; 
        margin-right: 5%;
        font-size: 2em;
        cursor:pointer; 
      }
    }
  }
}


@media screen and (max-width: 600px) {
  header {
    // min-width:100%;
    nav {
      // height: 150px; 
      width:100%;
      justify-content: space-between; 
      
      .logo{
        img{
          position:absolute; 
          top:10%; 
          // margin-left:-9%;  
        }
      }
      
      .menu-dates{
        position: relative;
        // left: -5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        white-space: nowrap;
        // margin-left:30px;
        
        img{
          width:15px; 
          height: 25px; 
          margin-top: 2px; 
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  header {
    nav {
      justify-content: space-around;
      height: 140px; 
      
      .menu-dates{
        top:45%;
        left: -30%;
        font-size: 12px;
        top: 43%;
        white-space: nowrap; 
        
        img{
          height: 15px; 
        }
        
      }
      
      .infos{
        margin-top: 10%;
      }
      
      .menu-burger{
        margin-right:5%; 
      }
      
    }
  }
}
