@import "../base/variables.scss";
@import "../base/mixins.scss";
@import "../layout/footer.scss"; 
@import "../layout/header.scss"; 
main{
    
    &.main-acces{
        position: relative;
        top: 15%;
        display: flex;
        flex-direction: column;
        padding-bottom: 12%;
        
        
        section {
            margin-bottom: 0;
            padding: 10px;
        }


        //phrases d'accroche en haut de la page
        .section-acces {
            h1 {
                @include title(2%);
                text-align: center;
            }
            p {
                margin: 2% 0;
                font-size: 1.8em;
                font-weight: 700;
                line-height: 1.4;
                letter-spacing: 1px;
            }
            .highlight {
                color: $btnOrange;
            }
        }



        //styles communs aux différentes sections sauf covoiturage
        .section-voiture, .section-velo, .section-train, .section-navettes {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            text-align: left;
            
            h2 {
                font-size: 2em;
                font-weight: 800;
                letter-spacing: 2px;
                color: $btnOrange;
                text-transform: uppercase;
            }
            
            ul {
                padding: 20px;
                li {
                    position: relative;
                    padding-left: 20px;
                    margin-bottom: 10px;
                    font-weight: 600;

                    //nom des pays couleur saumon
                    .country{
                        color:$salmon;
                        font-size: 1.1em; 
                    }
                }
            }
            
            p {
                text-align: justify;
                line-height: 1.3;

                //mots en évidence dans paragraphes
                mark {
                    font-weight: 700;
                    background: none;
                }
            }
        }
        
        .section-navettes, .section-train, .section-voiture{
            .content{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                @media (max-width: 768px) {
                    flex-direction: column;
                }
                // @media (max-width: 768px) {
                //     flex-direction: column;
                // }

                .text {
                    flex: 1;
                    padding-right: 2%;
                }
                
                .image-navette, .image-train, .image-voiture {
                    flex: 1;
                    img {
                        width: 500px;
                        height: 300px;
                        margin-top: -1px;
                        object-fit: cover;
                    }
                }
            }
        }
        
        .section-covoiturage {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%; 
            margin-left: -50vw;
            margin-right: -50vw;
            background-color: $purple-light;
            display: flex;
            height: 35vh; 
            justify-content: center;
            align-items: center;
            text-align: center;
            
            .covoiturage {
                h3{
                    text-align: center;
                    padding-top: -1%;
                    font-size: 2.5em;
                    font-weight: 800;
                    margin-bottom: 1%;
                    text-transform: uppercase;   
                }
                form {
                    margin-top: 3%;
                    display: flex;
                    justify-content: center;
                    input[type="email"] {
                        padding: 1%;
                        margin-right: 2%;
                        border: 2px solid black;
                        border-radius: 5px;
                        width: 250px;
                        
                        &:focus{
                            // border: none;
                            outline: none;
                            box-shadow: 0 0 5px rgba(251, 147, 0, 0.8);
                        }
                    }
                    button {
                        padding: 1% 1%;
                        border: none;
                        border-radius: 5px;
                        background-color: black;
                        color: white;
                        text-transform: uppercase;
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }
        }

        //bordure de soulignement
        .section-velo, .section-train{
            border-bottom: 1px solid black; 

        }
    }
}
//------------------------ MEDIA QUERIES --------------
//iPad
@media screen and (max-width: 821px){
    
    main{
        &.main-acces{
            top: 10%;
            justify-content: center;
            overflow-x: hidden;
            max-width: 100vw;
            padding: 0% 3%;
            margin-bottom: 15%;
            
            .section-navettes,
            .section-train,
            .section-voiture {
                .content {
                    .image-navette,
                    .image-train,
                    .image-voiture {
                        img {
                            width: 100%;
                            height: 250px;
                            object-fit: cover;
                        }
                    }
                }
            }
            
            .section-covoiturage{
                max-width: 100vw; 
                left: 50%;
                
            }
        }
    }
}
//iPhone 13
@media screen and (max-width: 428px){
    
    main{
        &.main-acces{
            top: 17%;
            justify-content: center;
            overflow-x: hidden;
            max-width: 100vw;
            padding: 0% 3%;
        
            .section-acces{
                font-size: 0.8em;
            }
            .section-train,
            .section-voiture {
                .content {
                    .image-train,
                    .image-voiture {
                        img {
                            width: 100%; 
                            height: auto;
                            margin-top: 10px; 
                            object-fit: cover;
                        }
                    }
                }
            }
            .section-navettes .content .image-navette img{
                height:60%;
                width: 100%; 
                margin-top: 10px; 
                object-fit: cover;
            }

            .section-navettes .content .image-navette img{
                margin-bottom: 15%; 
            }
            
        }
    }
}