@import "../base/mixins.scss"; 
@import "../layout/header.scss"; 
@import "../layout/footer.scss"; 


.intro{
    overflow: hidden; 
}
.intro-home {
    position: relative;
    min-height: 95vh;
    width: 100%;
    display:flex;


    //Image de fond 
    .image-background {
        background-image: url('../images/photos/home/home-no-logo.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 90vh;
        width: 100%;
        position: relative;
        
        //Explications en ovelray au dessus du background
        .infos {
            position: absolute;
            top: 55%;
            left: 25%;
            transform: translate(-50%, -50%);
            color: white;
            font-family: 'Inter';
            white-space: nowrap;
            
            .title-card {
                font-weight: 900;
                text-transform: uppercase;
                font-size: 40px;
                text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
            }
            
            p {
                font-size: 23px;
                font-weight: 900;
                line-height: 1;
                left: 0;
                text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
            }
            
            a {
                display: inline-block;
                margin-top: 20px;
                padding: 10px 20px;
                background-color: $btnOrange;
                color: white;
                text-decoration: none;
                font-size: 23px;
                font-weight: bolder;
                text-transform: uppercase;
                transition: background-color 0.3s ease;
                border-radius: 50px;
                font-weight: 900;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
                flex-wrap: nowrap;
                
                &:hover {
                    background-color: darken($btnOrange, 10%);
                }
            }
        }
        
        //Bande mauve défilante (issu d'un tuto youtube : https://www.youtube.com/watch?v=Reu0hHbis5w&t=982s) 
        .purple-band {
            background-color: $purple;
            position: absolute;
            height: 10%;
            width: 110%;
            left: -5vw;
            bottom: 4%;
            transform: rotate(-4deg);
            z-index: 3;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
            
            //contenant de mes slogans
            .wrapperSlogan {
                position: relative;
                height: 100%;
                overflow: hidden;
                align-items: center;
                display:flex; 
                justify-content: center;
                mask-image: linear-gradient(
                to right,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 1) 20%,
                rgba(0, 0, 0, 1) 80%,
                rgba(0, 0, 0, 0)
                );
            }
            
            //slogans défilés
            .slogan {
                display: flex;
                white-space: nowrap;
                font-size: 3.2em;
                color: white;
                font-weight: 800;
                width: 550px;
                text-transform: uppercase;
                position: absolute;
                left: max(calc(550px * 6), 100%);
                animation-name: scrollLeft;
                animation-duration: 30s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                letter-spacing: 1px;
            }
            
            //Timing de chacun de mes slogans pour qu'ils défilent à la même allure mais en décallé les uns des autres
            .slogan1 { animation-delay: calc(30s / 6 * (6 - 1) * -1); }
            .slogan2 { animation-delay: calc(30s / 6 * (6 - 2) * -1); }
            .slogan3 { animation-delay: calc(30s / 6 * (6 - 3) * -1); }
            .slogan4 { animation-delay: calc(30s / 6 * (6 - 4) * -1); }
            .slogan5 { animation-delay: calc(30s / 6 * (6 - 5) * -1); }
            .slogan6 { animation-delay: calc(30s / 6 * (6 - 6) * -1); }
            
            //Keyframe jusqu'à -550 pour que le slogan disparaisse totalement de l'écran à gauche avant de se repositionner
            @keyframes scrollLeft {
                to {
                    left: -550px;
                }
            }
        }
        
        //Vu que la bande défilante est rotate, &:after pour cacher le bord inférieur droit de l'image background qui dépassait
        &:after {
            content: '';
            position: absolute;
            bottom: -8%;
            left: -5vw;
            width: 120vw;
            height: 120px;
            background-color: $bgColor;
            transform: rotate(-4deg);
        }
    }
}

.line-up {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    position: relative;
    
    .line-up-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        color: $salmon;
        font-weight: 900;
        text-transform: uppercase;
        min-width: 77.4%;
        padding: 0 2%;
        white-space: nowrap;        
        .day, .date {
            flex: 1;
        }
        
        .day {
            position:relative; 
            left:-2%; 
        }
        
        .date {
            text-align: right;
            position: static;
            bottom: 0;
            padding-right: 10px;
        }
    }
    
    //souslignement du jour et date de la line up
    .border-bottom-date {
        border-bottom: rgba(230, 191, 151, 0.50) 3px solid;
        width: 61%;
        position: relative;
        left: -8%;
        overflow:hidden;
    }
}

.artists-list {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 3.6em;
    list-style: none;
    gap: 5px;
    font-family: 'Inter';
    font-weight: 800;
    min-height: 100%;
    flex-wrap: wrap;
    left: 26%;
    padding-top: 2%;
    width: 50%;
    
    //Lien cliquable de artist qui renvoit vers la carte
    a{
        text-decoration: none;
        color:black;
        display: flex;
        align-items: center;
        white-space: nowrap;

        .artist {
            cursor: pointer;
            
            //Effet de contour d'1 nom d'artiste sur 2 pour aérer la line-up
            &.stroke {
                color: $bgColor;
                background-color: transparent;
                text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
            }
            
            &:hover {
                color: $purple;
                transition: 0.5s ease;
            }
        }
    }
    
}

//"Et beaucoup plus" en dessous des noms d'artiste
.more {
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    width: 70%;
    flex-wrap: nowrap;
    left:7.2%;
    position:relative; 
}

//container du bouton "plus de noms"
.container-btnMoreNames {
    display: flex;
    max-height: 100px;
    justify-content: center;
    align-items: center;
    
    .btnMoreNames {
        display: flex;
        width: 9em;
        min-height: 75px;
        background-color: $btnOrange;
        text-transform: uppercase;
        font-size: 2.5em;
        font-weight: 900;
        border-radius: 50px;
        margin-top: 3%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
        
        &:hover {
            background-color: darken($btnOrange, 10%);
            transition: 0.3s ease;
        }
        
        a{
            text-decoration: none;
            color: white;
        }
    }
}

//playlist Spotify (iframe)
.playlist {
    padding: 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:100%;
}

//formulaire de contact
.contact {
    display:flex;
    min-height: 500px;
    width: 100%;
    background-color: $purple-light; 
    
    .formContact {
        display: flex;
        flex-direction: column;
        
        .formTitle {
            @include title(2%);
        }
        
        .formExplanation {
            padding-top: 2%;
            width: 70%;
            text-align: center;
            font-size: 1.2em;
            flex-wrap: nowrap;
        }
        
        form {
            padding-top: 4%;
            display: flex;
            flex-direction: column;
            width: 80%;
            align-items: center;
            margin: 0 auto;
            
            .grid-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 2em;
                width: 100%;
                
                .form-group {
                    display: flex;
                    flex-direction: column;
                    
                    input {
                        padding: 0.5em;
                        font-size: 1.3em;
                        border: 1px solid #ccc;
                        border-radius: 10px;
                        width: 100%;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
                        
                        &::placeholder {
                            font-family: 'Inter';
                            font-style: italic;
                            font-size: 18px;
                        }
                        
                        &:focus {
                            border: none;
                            outline: none;
                            box-shadow: 0 0 5px rgba(251, 147, 0, 0.8);
                        }
                    }
                }
            }
            
            .form-group {
                width: 100%;
                
                textarea {
                    padding: 0.5em;
                    margin-top: 0.5em;
                    font-size: 1.3em;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    height: 250px;
                    width: 100%;
                    grid-column: span 3;
                    resize: none;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
                    font-family: 'Inter';
                    
                    &::placeholder {
                        font-family: 'Inter';
                        font-style: italic;
                        font-size: 18px;
                    }
                    
                    &:focus {
                        border: none;
                        outline: none;
                        box-shadow: 0 0 5px rgba(251, 147, 0, 0.8);
                    }
                }
            }
            
            .btnSend {
                display: flex;
                min-width: 9em;
                min-height: 75px;
                background-color: $btnOrange;
                color: white;
                text-transform: uppercase;
                font-size: 2em;
                font-weight: 900;
                border-radius: 50px;
                margin-top: 3%;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
                outline: none;
                border: none;
                margin: 4%;
                
                &:hover {
                    background-color: darken($btnOrange, 10%);
                    transition: 0.3s ease;
                }
            }
        }
    }
}

//------------------------------- MEDIA QUERIES ----------------------

@media screen and (max-width: 1500px) {
    .artists-list{
        width:65%;
        left:19%; 
    }
    .more{
        left: 10%; 
    }
}

@media screen and (max-width: 1450px) {
    .artists-list{
        width:65%;
        left: 18%; 
    }
    
    .more{
        left: 12%; 
    }
}

@media screen and (max-width: 1300px) {
    .artists-list{
        width:65%;
        left: 12%; 
    }
}

@media screen and (max-width: 1140px) {
    
    .intro-home {
        .image-background {
            height:auto;
            
            .infos{
                position:relative;
                left: 60%; 
            }
        }
    }
    
    .artists-list{
        font-size:3.4em;
        width:80%;
        left:11%;
        // background-color: yellow; 
    }
    .more{
        font-size: 1.5em; 
        max-width:70%;
        position:relative;
        left: -4%; 
    }
    
    .container-btnMoreNames{
        .btnMoreNames{
            font-size: 2.3em;
        }
    }
}

//iPad - corrigé
@media screen and (max-width: 821px) {
    
    
    .intro {
        max-height: 57vh;
    }
    
    .intro-home{
        // height: 50vh; 
        .image-background{
            height: 54vh;
            .purple-band {
                height: 50px;
                max-width: 110vw;
                // top: 82%;
                // z-index: 99;
                left: -5vw; 
                
                // .wrapperSlogan {
                //     height: 100%;
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                // }
        
                .slogan {
                    font-size: 2.7em;
                    white-space: nowrap;
                    animation: scrollLeft 15s linear infinite;
                    left: 100%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
        
                .slogan:nth-child(2) {
                    animation-delay: -5s; 
                }
                
                .slogan:nth-child(3) {
                    animation-delay: -10s;
                }
                
            }
            
            @keyframes scrollLeft {
                from {
                    left: 100%;
                }
                to {
                    left: -100%;
                }
            }
        }
        
        .infos {
            
            align-items: center;
            text-align: center;
            padding-right:20%; 
            white-space: nowrap;
            
            .title-card {
                font-size: 2em;
            }
            
            p{
                font-size: 1.7em;
            }
            
            a {
                font-size: 1.5em;
                padding: 10px 15px;
            }
        } 
    }  
    
    .artists-list{
        margin-left: -9%;
        min-width:80vw; 
        font-size: 2.8em;
    }
    
    .more {
        max-width: 80vw;
        position: relative;
        margin-top: 2%; 
        transform: translateX(-10%); 
    }
    
    .container-btnMoreNames{
        .btnMoreNames{
            min-height:60px; 
            font-size: 1.8em;
        }
    }
    
    .contact {
        .formExplanation{
            font-size : 1em; 
        }
        .formContact {
            form {
                .grid-container {
                    grid-template-columns: repeat(1, 1fr);
                    gap:10px; 
                }
                
                .btnSend {
                    min-height: 60px;  // Reduced the height
                    font-size: 1.8em;  // Reduced the font size
                    // padding: 10px 20px;  // Adjust padding as needed
                } 
            }
            
            
        }
    }
}

@media screen and (max-width: 768px) {
    
    .line-up {
        position:relative; 
        top: 0;
        .line-up-date {
            font-size: 1.5rem;
        }
        
        .border-bottom-date {
            width: 80%;
            left: 0;
        }
    }
    
    .artists-list {
        font-size: 2.2em;
        width: 80%;
        left:10%;
    }
    
    .more {
        font-size: 1em;
        max-width: 76%;
        left: -1%;
    }
    
    
    
}
@media screen and (max-width: 576px) {
    .intro-home {
        // min-width:100%;
        .image-background {
            .infos {
                .title-card {
                    font-size: 18px;
                }
                
                p, a {
                    font-size: 14px;
                }
                
                a {
                    padding: 6px 12px;
                }
            }
        }
    }
    
    .line-up {
        .line-up-date {
            font-size: 1.2rem;
        }
    }
    
    .artists-list {
        font-size: 1.7em;
    }
    
    .more {
        font-size: 0.75em;
        left:-0.5%; 
    }
    
    .container-btnMoreNames{
        .btnMoreNames{
            min-height:50px;
            font-size: 1.5em;
        }
    }
    
    
    .contact {
        .formExplanation{
            font-size : 0.8em; 
        }
        .formContact {
            form {
                .form-group input, .form-group textarea {
                    font-size: 14px;
                }
            }
            
            .btnSend {
                min-width: 5em;
                min-height: 50px;
                font-size: 1.2em;
            }
        }
    }
}

@media screen and (max-width: 519px) {
    .intro{
        .image-background{
            margin-top: 25px; 
        }
    }
    
    .line-up {
        .line-up-date {
            font-size: 1em;
        }
    }
    
    .artists-list {
        font-size: 1.5em;
    }
    
    .more {
        font-size: 0.60em;
    }
    
    .container-btnMoreNames{
        .btnMoreNames{
            min-height:45px; 
            font-size: 1.3em;
        }
    }
    
}

@media screen and (max-width: 450px) {
    
    .intro{
        .intro-home{
            .image-background{
                .infos{
                    .title-card{
                        font-size: 23px;
                        // justify-content: center; 
                    }
                    
                    p,a{
                        font-size: 18px;
                    }
                    a{
                        padding:6px 8px; 
                    }
                }
            }
        }
    }
    
    .line-up {
        .line-up-date {
            font-size: 0.9em;
        }
    }
    
    .artists-list {
        font-size: 1.2em;
    }
    
    .more {
        font-size: 0.5em;
    }
    
    .container-btnMoreNames{
        .btnMoreNames{
            min-height:40px; 
            font-size: 1em;
        }
    }
}

//iPhone 13 pro max 
@media screen and (max-width: 428px) {
    
    
    .intro {
        max-height: 53vh;
    }
    
    .intro-home {
        .image-background {
            height:50vh; 
            // .purple-band {
            //     height: 50px;
            //     max-width: 110vw;
            //     top: 81%;
            //     // z-index: 99;
            //     left: -5vw; 
                
            //     // .wrapperSlogan {
            //     //     height: 100%;
            //     //     display: flex;
            //     //     justify-content: center;
            //     //     align-items: center;
            //     // }
        
            //     .slogan {
            //         font-size: 2.7em;
            //         white-space: nowrap;
            //         animation: scrollLeft 15s linear infinite;
            //         left: 100%;
            //         position: absolute;
            //         top: 50%;
            //         transform: translateY(-50%);
            //     }
        
            //     .slogan:nth-child(2) {
            //         animation-delay: -5s; 
            //     }
                
            //     .slogan:nth-child(3) {
            //         animation-delay: -10s;
            //     }
                
            // }
            
            // @keyframes scrollLeft {
            //     from {
            //         left: 100%;
            //     }
            //     to {
            //         left: -100%;
            //     }
            // }
            .infos {
                text-align: center;
                
                .title-card {
                    font-size: 20px;
                }
                
                p, a {
                    font-size: 16px;
                }
                
                a {
                    padding: 6px 10px;
                }
            }
            
            .purple-band{
                height:40px;
                margin-bottom:9%; 
                .wrapperSlogan {
                    .slogan {
                        font-size: 1.3em; 
                        padding: 2% 0;
                        // width: 8em;
                        left: max(calc(8em * 6), 100%);
                    }
                    
                    .slogan1 { animation-delay: calc(30s / 6 * (6 - 1) * -1); }
                    .slogan2 { animation-delay: calc(30s / 6 * (6 - 2) * -1); }
                    .slogan3 { animation-delay: calc(30s / 6 * (6 - 3) * -1); }
                    .slogan4 { animation-delay: calc(30s / 6 * (6 - 4) * -1); }
                    .slogan5 { animation-delay: calc(30s / 6 * (6 - 5) * -1); }
                    .slogan6 { animation-delay: calc(30s / 6 * (6 - 6) * -1); }
                    
                } 
            } 
        }
    }
    
    section{
        .line-up{
            margin-top: 1%;
        }
        
        .artists-list{
            font-size: 1.8em;
            line-height: 1.3;
        }
        
        .border-bottom-date{
            right: 20%; 
        }
        
        .more {
            font-size: 0.8em;
            // left:-4%;
            position:relative;
            // background-color: yellow;
            width: 80vw;
            transform: translateX(-13%);  
        }
        
        .contact{
            margin-bottom: -8%; 
            .formContact{
                .formExplanation{
                    font-size : 1em;
                }
                
                form{
                    font-size:1em; 
                    
                    .btnSend{
                        font-size:1.3em;
                        min-height: 30px;
                        width: 200px;   
                    }
                }
            } 
        }
    }  
}

//Média petit écran 
@media  screen and (max-width: 1600px) {
    section{
        .artists-list{
            left: 20%;
            width:60%; 
            // background-color: green;
        }
        .more{
            left: 9.3%; 
            margin-bottom: 2%; 
        }
    }
}

//iPhone 11 
@media screen and (max-width: 415px) {
    
    section{
        &.contact{
            .formContact{
                .formExplanation{
                    font-size : 1em;
                }
            }  
        }
    }  
}