@import "../base/mixins.scss"; 
@import "../layout/header.scss"; 


.intro{
    overflow: hidden; 
}
.intro-home {
    position: relative;
    min-height: 95vh;
    width: 100%;
    display:flex;
    // background: pink;
    
    .image-background {
        background-image: url('../images/photos/home/home-no-logo.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 90vh;
        width: 100%;
        position: relative;
        
        .infos {
            // width:130%; 
            // background:yellow;
            position: absolute;
            top: 55%;
            left: 25%;
            transform: translate(-50%, -50%);
            color: white;
            font-family: 'Inter';
            white-space: nowrap;
            
            .title-card {
                font-weight: 900;
                text-transform: uppercase;
                font-size: 40px;
                text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
            }
            
            p {
                font-size: 23px;
                font-weight: 900;
                line-height: 1;
                left: 0;
                text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
            }
            
            a {
                display: inline-block;
                margin-top: 20px;
                padding: 10px 20px;
                background-color: $btnOrange;
                color: white;
                text-decoration: none;
                font-size: 23px;
                font-weight: bolder;
                text-transform: uppercase;
                transition: background-color 0.3s ease;
                border-radius: 50px;
                font-weight: 900;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
                flex-wrap: nowrap;
                
                &:hover {
                    background-color: darken($btnOrange, 10%);
                }
            }
        }
        
        .purple-band {
            background-color: $purple;
            position: absolute;
            height: 10%;
            width: 110%;
            left: -5vw;
            bottom: 4%;
            transform: rotate(-4deg);
            z-index: 3;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
            
            .wrapperSlogan {
                position: relative;
                height: 100%;
                overflow: hidden;
                mask-image: linear-gradient(
                to right,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 1) 20%,
                rgba(0, 0, 0, 1) 80%,
                rgba(0, 0, 0, 0)
                );
            }
            
            .slogan {
                display: flex;
                white-space: nowrap;
                font-size: 3.2em;
                color: white;
                font-weight: 800;
                width: 550px;
                text-transform: uppercase;
                position: absolute;
                left: max(calc(550px * 6), 100%);
                animation-name: scrollLeft;
                animation-duration: 30s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                letter-spacing: 1px;
            }
            
            // Handle the timing of the slogans
            .slogan1 { animation-delay: calc(30s / 6 * (6 - 1) * -1); }
            .slogan2 { animation-delay: calc(30s / 6 * (6 - 2) * -1); }
            .slogan3 { animation-delay: calc(30s / 6 * (6 - 3) * -1); }
            .slogan4 { animation-delay: calc(30s / 6 * (6 - 4) * -1); }
            .slogan5 { animation-delay: calc(30s / 6 * (6 - 5) * -1); }
            .slogan6 { animation-delay: calc(30s / 6 * (6 - 6) * -1); }
            
            @keyframes scrollLeft {
                to {
                    left: -550px;
                }
            }
        }
        
        &:after {
            content: '';
            position: absolute;
            bottom: -8%;
            left: -5vw;
            width: 120vw;
            height: 100px;
            background-color: $bgColor;
            transform: rotate(-4deg);
        }
    }
}

.line-up {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    position: relative;
    
    .line-up-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        color: $salmon;
        font-weight: 900;
        text-transform: uppercase;
        min-width: 77.4%;
        padding: 0 2%;
        white-space: nowrap;        
        .day, .date {
            flex: 1;
        }
        
        .day {
            position:relative; 
            left:-2%; 
        }
        
        .date {
            text-align: right;
            position: static;
            bottom: 0;
            padding-right: 10px;
        }
    }
    
    
    .border-bottom-date {
        border-bottom: rgba(230, 191, 151, 0.50) 3px solid;
        width: 61%;
        position: relative;
        left: -8%;
        overflow:hidden;
    }
}

.artists-list {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 3.6em;
    list-style: none;
    gap: 5px;
    font-family: 'Inter';
    font-weight: 800;
    min-height: 100%;
    flex-wrap: wrap;
    left: 20%;
    padding-top: 2%;
    width: 60%;
    // background:yellow; 
    
    a{
        text-decoration: none;
        color:black;
        display: flex;
        align-items: center;
        white-space: nowrap;
        // background-color: aqua;
        // // width:100%;
        .artist {
            cursor: pointer;
            
            &.stroke {
                color: $bgColor;
                background-color: transparent;
                text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
            }
            
            &:hover {
                color: $purple;
                transition: 0.5s ease;
            }
        }
    }
    
}


.more {
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    width: 70%;
    flex-wrap: nowrap;
    left:9%;
    position:relative; 
}

.container-btnMoreNames {
    display: flex;
    // width:100%; 
    max-height: 100px;
    justify-content: center;
    align-items: center;
    // background: pink;
    // box-sizing: content-box;
    
    .btnMoreNames {
        display: flex;
        width: 9em;
        min-height: 75px;
        background-color: $btnOrange;
        color: white;
        text-transform: uppercase;
        font-size: 2.5em;
        font-weight: 900;
        border-radius: 50px;
        margin-top: 3%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
        
        &:hover {
            background-color: darken($btnOrange, 10%);
            transition: 0.3s ease;
        }
    }
}


.playlist {
    padding: 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:100%;
    // height: 10vh; 
}

.contact {
    display:flex;
    min-height: 500px;
    width: 100%;
    background-color: rgba(166, 120, 177, 0.3);
    
    .formContact {
        display: flex;
        flex-direction: column;
        
        .formTitle {
            @include title(2%);
        }
        
        .formExplanation {
            padding-top: 2%;
            width: 70%;
            text-align: center;
            font-size: 1.2em;
            flex-wrap: nowrap;
        }
        
        form {
            padding-top: 4%;
            display: flex;
            flex-direction: column;
            width: 80%;
            align-items: center;
            margin: 0 auto;
            
            .grid-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 2em;
                width: 100%;
                
                .form-group {
                    display: flex;
                    flex-direction: column;
                    
                    input {
                        padding: 0.5em;
                        font-size: 1.3em;
                        border: 1px solid #ccc;
                        border-radius: 10px;
                        width: 100%;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
                        
                        &::placeholder {
                            font-family: 'Inter';
                            font-style: italic;
                            font-size: 18px;
                        }
                        
                        &:focus {
                            border: none;
                            outline: none;
                            box-shadow: 0 0 5px rgba(251, 147, 0, 0.8);
                        }
                    }
                }
            }
            
            .form-group {
                width: 100%;
                
                textarea {
                    padding: 0.5em;
                    margin-top: 0.5em;
                    font-size: 1.3em;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    height: 250px;
                    width: 100%;
                    grid-column: span 3;
                    resize: none;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
                    font-family: 'Inter';
                    
                    &::placeholder {
                        font-family: 'Inter';
                        font-style: italic;
                        font-size: 18px;
                    }
                    
                    &:focus {
                        border: none;
                        outline: none;
                        box-shadow: 0 0 5px rgba(251, 147, 0, 0.8);
                    }
                }
            }
            
            .btnSend {
                display: flex;
                min-width: 9em;
                min-height: 75px;
                background-color: $btnOrange;
                color: white;
                text-transform: uppercase;
                font-size: 2em;
                font-weight: 900;
                border-radius: 50px;
                margin-top: 3%;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
                outline: none;
                border: none;
                margin: 4%;
                
                &:hover {
                    background-color: darken($btnOrange, 10%);
                    transition: 0.3s ease;
                }
            }
        }
    }
}

//------------------------------- MEDIA QUERIES ----------------------

@media screen and (max-width: 1500px) {
    .artists-list{
        width:65%;
        left:19%; 
    }
    .more{
        left: 10%; 
    }
}

@media screen and (max-width: 1450px) {
    .artists-list{
        width:65%;
        left: 18%; 
    }

    .more{
        left: 12%; 
    }
}

@media screen and (max-width: 1300px) {
    .artists-list{
        width:65%;
        left: 12%; 
    }
}

@media screen and (max-width: 1140px) {
    
    .intro-home {
        .image-background {
            height:auto;
            
            .infos{
                position:relative;
                left: 60%; 
            }
        }
    }
    
    .artists-list{
        font-size:3.4em;
        width:80%;
        left:11%; 
    }
    .more{
        font-size: 1.5em; 
        max-width:70%;
        position:relative;
        left: -4%; 
    }

    .container-btnMoreNames{
        .btnMoreNames{
            font-size: 2.3em;
        }
    }
}

@media screen and (max-width: 800px) {
    
    .intro-home{
        .image-background{
            height: auto;
            .infos {
              
                align-items: center;
                text-align: center;
                padding-right:20%; 
                white-space: nowrap;
                
                .title-card {
                    font-size: 2em;
                }
                
                p{
                    font-size: 1.7em;
                }
                
                a {
                    font-size: 1.5em;
                    padding: 10px 15px;
                }
            }
            
        }
    }
}

@media screen and (max-width: 768px) {
    
    .logo{
        left: 5%; 
    }
    .intro-home {
        
        .image-background {
            height: auto;
            background-position: center center;
            
            .purple-band{
                height:50px;
                .wrapperSlogan{
                    .slogan{
                        font-size: 2em; 
                        padding:1% 0;
                        animation-duration: 20s;
                        left: max(calc(10em * 6), 100%);
                        width:10em;
                    }
                    .slogan1 { animation-delay: calc(20s / 6 * (6 - 1) * -1); }
                    .slogan2 { animation-delay: calc(20s / 6 * (6 - 2) * -1); }
                    .slogan3 { animation-delay: calc(20s / 6 * (6 - 3) * -1); }
                    .slogan4 { animation-delay: calc(20s / 6 * (6 - 4) * -1); }
                    .slogan5 { animation-delay: calc(20s / 6 * (6 - 5) * -1); }
                    .slogan6 { animation-delay: calc(20s / 6 * (6 - 6) * -1); }
                }
            }
        }
    }
    
    .line-up {
        position:relative; 
        top: 0;
        .line-up-date {
            font-size: 1.5rem;
        }
        
        .border-bottom-date {
            width: 80%;
            left: 0;
        }
    }
    
    .artists-list {
        font-size: 2.2em;
        width: 80%;
        left:10%;
    }
    
    .more {
        font-size: 1em;
        max-width: 76%;
        left: -1%;
    }
    
    .container-btnMoreNames{
        .btnMoreNames{
            min-height:60px; 
            font-size: 1.8em;
        }
    }
    
    
    .contact {
        .formExplanation{
            font-size : 1em; 
        }
        .formContact {
            form {
                .grid-container {
                    grid-template-columns: repeat(1, 1fr);
                    gap:10px; 
                }
            }
            
            .btnSend {
                min-width: 7em;
                min-height: 60px;
                font-size: 1.5em;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .intro-home {
        // min-width:100%;
        .image-background {
            .infos {
                .title-card {
                    font-size: 18px;
                }
                
                p, a {
                    font-size: 14px;
                }
                
                a {
                    padding: 6px 12px;
                }
            }
        }
    }
    
    .line-up {
        .line-up-date {
            font-size: 1.2rem;
        }
    }
    
    .artists-list {
        font-size: 1.7em;
    }
    
    .more {
        font-size: 0.75em;
        left:-0.5%; 
    }
    
    .container-btnMoreNames{
        .btnMoreNames{
            min-height:50px;
            font-size: 1.5em;
        }
    }
    
    
    .contact {
        .formExplanation{
            font-size : 0.8em; 
        }
        .formContact {
            form {
                .form-group input, .form-group textarea {
                    font-size: 14px;
                }
            }
            
            .btnSend {
                min-width: 5em;
                min-height: 50px;
                font-size: 1.2em;
            }
        }
    }
}

@media screen and (max-width: 519px) {
    .intro{
        .image-background{
            margin-top: 25px; 
        }
    }
    
    .line-up {
        .line-up-date {
            font-size: 1em;
        }
    }

    .artists-list {
        font-size: 1.5em;
    }
    
    .more {
        font-size: 0.60em;
    }

    .container-btnMoreNames{
        .btnMoreNames{
            min-height:45px; 
            font-size: 1.3em;
        }
    }

}

@media screen and (max-width: 450px) {
    
    .intro{
        .intro-home{
            .image-background{
                .infos{
                    .title-card{
                        font-size: 23px;
                        // justify-content: center; 
                    }
                    
                    p,a{
                        font-size: 18px;
                    }
                    a{
                        padding:6px 8px; 
                    }
                }
            }
        }
    }
    
    .line-up {
        .line-up-date {
            font-size: 0.9em;
        }
    }

    .artists-list {
        font-size: 1.2em;
    }
    
    .more {
        font-size: 0.5em;
    }

    .container-btnMoreNames{
        .btnMoreNames{
            min-height:40px; 
            font-size: 1em;
        }
    }
}

