@import "../base/variables.scss";
@import "../base/mixins.scss";
@import "../layout/footer.scss"; 
@import "../layout/header.scss"; 


main{
    &.main-line-up{

        .title {
            width: 100%; 
            display: flex;
            h1{ 
                @include title(8%);
            } 
        }
        
        //Jours pour trier par jour
        .sortByDay {
            display: flex;
            font-size: 15px;
            justify-content: flex-start;
            margin-left: 5%; 
            text-transform: uppercase;
            padding-top: 30px;
            font-weight: 700; 
            width: 100%;
            gap: 50px;

            //nom d'un jour -> span
            span {
                cursor: pointer;
                transition: transform 0.3s ease;
                
                &:hover {
                    transform: scale(1.1);
                    color: $btnOrange;
                    transition: 0.3s ease-in-out; 
                }
            }
        }
        
        //bordure soulignante
        .border-bottom {
            border-bottom: rgba(230, 191, 151, 0.50) 3px solid;
            min-width: 95%;
            position: relative;
            left: 0;
            padding-top: 5px;  
        }
        
        //Toutes les cartes des artistes en grid
        section {
            .cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 50px;
                padding: 30px;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                
                .artist-card {
                    background-color: $purple;
                    height: 23.75em; 
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    position: relative;
                    align-items: center; 
                    
                    //chaque carte est un a qui renvoit vers la page carteLineUp
                    a {
                        display: block;
                        height: 100%;
                        width:100%;
                        color: inherit;
                        text-decoration: none;

                        .image {
                            width: 100%;
                            height: 22em;
                            //effet noir et blanc à 80% avec animation quand hover -> la couleur apparait
                            filter: grayscale(80%);
                            display: flex;
                            justify-content: center;
                            overflow: hidden; 
                            object-position: center;
                            transition: filter 0.6s ease;
                            
                            img {
                                width: 100%;
                                height: 95%;
                                object-fit: cover;
                                object-position: 50% 5%;
                            }

                            &:hover {
                                filter: grayscale(0%);
                                transition: all 0.6s ease;
        
                            }
                        }

                        
                        .info {
                            color: white;
                            padding: 12px;
                            text-align: left;
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            height: 20%;
                            flex-wrap: nowrap; 
                            
                            //nom de l'artiste
                            h2 {
                                width: 100%;
                                font-size: 1.5em;
                                margin: 0;
                                letter-spacing: 1px; 
                                font-weight: 900;
                                text-transform: uppercase;
                                cursor: pointer;
                                position: relative;
                                //effet de blanc par défaut sur le nom, quand on hover, la couleur orange apparait de la gauche 
                                background: linear-gradient(to left, white 50%, $orangeLight 50%) right;
                                background-size: 200% 100%;
                                background-position: 100%;
                                background-clip: text;
                                color: transparent;
                                //faire ressortir le nom
                                filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
                                white-space: nowrap;
                                transition: transform 0.5s ease-in-out, background-position 0.5s ease-in-out; 
                            
                            }
                            
                            //Jour, heure et endroit du concert de l'artiste affiché sur sa carte
                            .details {
                                display: flex;
                                justify-content: space-between;
                                font-size: 0.9em;
                                align-items: center;
                                
                                p {
                                    display: block;
                                    margin-right: 25%;
                                    white-space: nowrap; //flex-wrap pour le conteneur, white-space pour contenu
                                    padding-left: 1%;
                                }
                                
                                img {
                                    width: 100px;
                                    height: 100px;
                                }
                                
                                //chevron animé
                                .chevron {
                                    width: 2em;
                                    height: auto;
                                    transform: rotate(-90deg);
                                    cursor: pointer;
                                    position: relative;
                                    //revenir a emplacement initial doucement
                                    animation-direction: reverse;
                                    transition: 0.5s ease;   
                                }
                            }
                        }

                        //animation sur nom d'artiste quand hover de la carte
                        &:hover h2{
                            transform: scale(1.03);
                            background-position: 0;
                            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
                        }

                        //animation sur chevron quand hover de la carte
                        &:hover .details .chevron{
                            transform: scale(1.2);
                            transition: 0.5s ease;
                        }
                    }
                }
            }
        }
    }
}

//------------------------------MEDIA QUERIES ------------------

//Média pour petit écran
@media  screen and (max-width: 1600px) {
    main{
        &.main-line-up{
            .title{
                margin-top: 3%;
            }
        }
    }
}

@media  screen and (max-width: 1400px) {
    main {
        &.main-line-up {
            .cards {
                grid-template-columns: repeat(2, 1fr) !important;
            }
        }
    }
}

@media  screen and (max-width: 700px) {
    main {
        &.main-line-up {
            .cards {
                grid-template-columns: repeat(1, 1fr) !important;
            }
        }
    }
}

//iPad
@media screen and (max-width:821px) {
    main{
        &.main-line-up{
            top:5%;
            margin-bottom: 50px; 
            position:relative; 
            section .cards .artist-card a .image{
                filter: none; 
            }
        }
    }
}

//iPhone 13
@media screen and (max-width:429px) {
    main{
        &.main-line-up{
            top: 12%;
            margin-bottom: 130px;

            section{
                .sortByDay{
                    span{
                        font-size: 11px; 
                        white-space: nowrap;
                        margin-left: -1.6%; 
                        gap: 0;
                    }
                }
            }
        }
    }

}

//iPhone 11
@media screen and (max-width:415px) {
    main{
        &.main-line-up{
            top: 12%;
            margin-bottom: 130px;

            section{
                .sortByDay{
                    span{
                        font-size: 11px; 
                        white-space: nowrap;
                        margin-left: -2.2%;
                        gap: 0;
                    }
                }
            }
        }
    }

}


